---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/us/rss/customerreviews/id=1559609596/sortBy=mostRecent/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - Q6UCBZHMDI6ISKLOJGFLYOJDFM
      X-Apple-Request-Uuid:
      - 87a820e4-ec1a-3c89-296e-498abc39232b
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/RSS/customerreviews/id=1559609596/sortBy=mostRecent/json?cc=us&urlDesc=/customerreviews/id=1559609596/sortBy=mostRecent/json"
      Apple-Tk:
      - 'false'
      Content-Type:
      - text/javascript; charset=UTF-8
      B3:
      - 87a820e4ec1a3c89296e498abc39232b-7dba33e2ca9fc826
      X-Webobjects-Loadaverage:
      - '0'
      X-Responding-Instance:
      - 'MZStoreServices:4079008:::'
      Apple-Seq:
      - '0'
      Apple-Originating-System:
      - MZStoreServices
      X-Apple-Orig-Url:
      - https://mzstoreservices-int.itunes.apple.com/us/rss/customerreviews/id=1559609596/sortBy=mostRecent/json
      X-Apple-Application-Site:
      - MR22
      Apple-Timing-App:
      - 65 ms
      X-Apple-Application-Instance:
      - '4079008'
      X-True-Cache-Key:
      - "/L/itunes.apple.com/us/rss/customerreviews/id=1559609596/sortBy=mostRecent/json
        vcd=2897 ci2=///"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: UTF-8
      string: "{\"feed\":{\"author\":{\"name\":{\"label\":\"iTunes Store\"}, \"uri\":{\"label\":\"http://www.apple.com/itunes/\"}},
        \"entry\":[\n{\"author\":{\"uri\":{\"label\":\"https://itunes.apple.com/us/reviews/id1374887250\"},
        \"name\":{\"label\":\"LambChopMM3\"}, \"label\":\"\"}, \"updated\":{\"label\":\"2024-02-07T16:20:09-07:00\"},
        \"im:rating\":{\"label\":\"5\"}, \"im:version\":{\"label\":\"2.20.0\"}, \"id\":{\"label\":\"10914036787\"},
        \"title\":{\"label\":\"IGY6\"}, \"content\":{\"label\":\"If nothing else we
        vets take care of us first. Thank you God and country\", \"attributes\":{\"type\":\"text\"}},
        \"link\":{\"attributes\":{\"rel\":\"related\", \"href\":\"https://itunes.apple.com/us/review?id=1559609596&type=Purple%20Software\"}},
        \"im:voteSum\":{\"label\":\"0\"}, \"im:contentType\":{\"attributes\":{\"term\":\"Application\",
        \"label\":\"Application\"}}, \"im:voteCount\":{\"label\":\"0\"}}, \n{\"author\":{\"uri\":{\"label\":\"https://itunes.apple.com/us/reviews/id288140690\"},
        \"name\":{\"label\":\"Oldsailor52\"}, \"label\":\"\"}, \"updated\":{\"label\":\"2024-02-07T14:39:53-07:00\"},
        \"im:rating\":{\"label\":\"1\"}, \"im:version\":{\"label\":\"2.20.0\"}, \"id\":{\"label\":\"10913807373\"},
        \"title\":{\"label\":\"Wrong military service information\"}, \"content\":{\"la[...]
