---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/user/dannydevitosfluffer/about?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '596.0'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Reset:
      - '579'
    body:
      encoding: UTF-8
      string: '{"kind": "t2", "data": {"is_employee": false, "is_friend": false, "subreddit":
        {"default_set": true, "user_is_contributor": false, "banner_img": "", "allowed_media_in_comments":
        [], "user_is_banned": false, "free_form_reports": true, "community_icon":
        null, "show_media": true, "icon_color": "", "user_is_muted": null, "display_name":
        "u_dannydevitosfluffer", "header_img": null, "title": "", "previous_names":
        [], "over_18": false, "icon_size": [256, 256], "primary_color": "", "icon_img":
        "https://styles.redditmedia.com/t5_a01jcu/styles/profileIcon_snoo-nftv2_bmZ0X2VpcDE1NToxMzdfZWI5NTlhNzE1ZGZmZmU2ZjgyZjQ2MDU1MzM5ODJjNDg1OWNiMTRmZV8yMzU3MzY5Mg_rare_cb1d6d79-20e6-45f9-a9d7-6eeb42f19fed-headshot.png?width=256\u0026height=256\u0026crop=256:256,smart\u0026s=89271b48849a67b60c7933a6494d3b63973ca0f6",
        "description": "", "submit_link_label": "", "header_size": null, "restrict_posting":
        true, "restrict_commenting": false, "subscribers": 0, "submit_text_label":
        "", "is_default_icon": false, "link_flair_position": "", "display_name_prefixed":
        "u/dannydevitosfluffer", "key_color": "", "name": "t5_a01jcu", "is_default_banner":
        true, "url": "/user/dannydevitosfluffer/", "quarantine": false, "banner_size":
        null, "user_is_moderator": false, "accept_followers": true, "public_description":
        "", "link_flair_enabled": false, "disable_contributor_requests": false, "subreddit_type":
        "user", "user_is_subscriber": false}, "snoovatar_size": [380, 600], "awardee_karma":
        0, "id": "luusci0pt", "verified": true, "is_gold": false, "is_mod": false,
        "awarder_karma": 0, "has_verified_email": false, "icon_img": "https://styles.redditmedia.com/t5_a01jcu/styles/profileIcon_snoo-nftv2_bmZ0X2VpcDE1NToxMzdfZWI5NTlhNzE1ZGZmZmU2ZjgyZjQ2MDU1MzM5ODJjNDg1OWNiMTRmZV8yMzU3MzY5Mg_rare_cb1d6d79-20e6-45f9-a9d7-6eeb42f19fed-headshot.png?width=256\u0026height=256\u0026crop=256:256,smart\u0026s=89271b48849a67b60c7933a6494d3b63973ca0f6",
        "hide_from_robots": false, "link_karma": 641, "pref_show_snoovatar": false,
        "is_blocked": false, "total_karma": 5160, "accept_chats": false, "name": "dannydevitosfluffer",
        "created": 1700079074.0, "created_utc": 1700079074.0, "snoovatar_img": "https://i.redd.it/snoovatar/avatars/nftv2_bmZ0X2VpcDE1NToxMzdfZWI5NTlhNzE1ZGZmZmU2ZjgyZjQ2MDU1MzM5ODJjNDg1OWNiMTRmZV8yMzU3MzY5Mg_rare_cb1d6d79-20e6-45f9-a9d7-6eeb42f19fed.png",
        "comment_karma": 4519, "accept_followers": true, "has_subscribed": true, "accept_pms":
        true}}'
  recorded_at: Wed, 06 Mar 2024 22:30:21 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/VeteransBenefits+Veterans/search?after=t3_1b8dat9&api_type=json&limit=100&q=app&raw_json=1&restrict_sr=true&sort=new
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '590.0'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Reset:
      - '461'
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"after": "t3_1b8db4c", "dist": 3, "modhash":
        null, "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "VeteransBenefits", "selftext": "Ran into this on VA.gov.
        Anyone got an idea? Or am I over thinking the meaning? I\u2019ve refreshed
        the page 10 times to see if something was wrong within the page. And these
        boxes stay around those two uploads \ud83e\udd37\ud83c\udffd\u200d\u2642\ufe0f",
        "author_fullname": "t2_aznkdz4d", "saved": false, "mod_reason_title": null,
        "gilded": 0, "clicked": false, "title": "Yellow and Blue Boxes around evidence
        uploads??", "link_flair_richtext": [{"e": "text", "t": "VA Disability Claims
        "}, {"a": ":claim:", "e": "emoji", "u": "https://emoji.redditmedia.com/32ou7hepxnj81_t5_2vlaz/claim"}],
        "subreddit_name_prefixed": "r/VeteransBenefits", "hidden": false, "pwls":
        7, "link_flair_css_class": "", "downs": 0, "thumbnail_height": 140, "top_awarded_type":
        null, "hide_score": true, "name": "t3_1b8dds5", "quarantine": false, "link_flair_text_color":
        "light", "upvote_ratio": 1.0, "author_flair_background_color": null, "ups":
        1, "total_awards_received": 0, "media_embed": {}, "thumbnail_width": 140,
        "author_flair_template_id": null, "is_original_content": false, "user_reports":
        [], "secure_media": null, "is_reddit_media_domain": true, "is_meta": false,
        "category": null, "secure_media_embed": {}, "link_flair_text": "VA Disability
        Claims :claim:", "can_mod_post": false, "score": 1, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": false, "thumbnail": "https://b.thumbs.redditmedia.com/cKTMpaQxJQNbbumyM9gcFjfnfbEgTDIrxfzNiQ8OC7o.jpg",
        "edited": false, "author_flair_css_class": null, "author_flair_richtext":
        [], "gildings": {}, "post_hint": "image", "content_categories": null, "is_self":
        false, "subreddit_type": "public", "created": 1709764252.0, "link_flair_type":
        "richtext", "wls": 7, "removed_by_category": null, "banned_by": null, "author_flair_type":
        "text", "domain": "i.redd.it", "allow_live_comments": false, "selftext_html":
        "\u003C!-- SC_OFF --\u003E\u003Cdiv class=\"md\"\u003E\u003Cp\u003ERan into
        this on VA.gov. Anyone got an idea? Or am I over thinking the meaning? I\u2019ve
        refreshed the page 10 times to see if something was wrong within the page.
        And these boxes stay around those two uploads \ud83e\udd37\ud83c\udffd\u200d\u2642\ufe0f\u003C/p\u003E\n\u003C/div\u003E\u003C!--
        SC_ON --\u003E", "likes": null, "suggested_sort": "confidence", "banned_at_utc":
        null, "url_overridden_by_dest": "https://i.redd.it/ttj5jcyxismc1.jpeg", "view_count":
        null, "archived": false, "no_follow": true, "is_crosspostable": true, "pinned":
        false, "over_18": false, "preview": {"images": [{"source": {"url": "https://preview.redd.it/ttj5jcyxismc1.jpeg?auto=webp\u0026s=09ba1fe3b24058edf7ac9837168c2f89365c6b3e",
        "width": 934, "height": 1276}, "resolutions": [{"url": "https://preview.redd.it/ttj5jcyxismc1.jpeg?width=108\u0026crop=smart\u0026auto=webp\u0026s=2d5a99a0b861faedd497c1ae8e3d7947ff52cd18",
        "width": 108, "height": 147}, {"url": "https://preview.redd.it/ttj5jcyxismc1.jpeg?width=216\u0026crop=smart\u0026auto=webp\u0026s=c8ec591f7fbaf95d3439617ee0dc5655c362fccf",
        "width": 216, "height": 295}, {"url": "https://preview.redd.it/ttj5jcyxismc1.jpeg?width=320\u0026crop=smart\u0026auto=webp\u0026s=d1aea6c37a110905908734f9930ccd72bfd0db38",
        "width": 320, "height": 437}, {"url": "https://preview.redd.it/ttj5jcyxismc1.jpeg?width=640\u0026crop=smart\u0026auto=webp\u0026s=2956916debbc3501eff0f82a9f2249e4351866c3",
        "width": 640, "height": 874}], "variants": {}, "id": "axaMnu_iM3ozP5LfwQIs0uVdCipaeJ6rZOt8jE6yBRI"}],
        "enabled": true}, "all_awardings": [], "awarders": [], "media_only": false,
        "link_flair_template_id": "c884da80-dced-11ea-94e6-0eb73c02bdb3", "can_gild":
        false, "spoiler": false, "locked": false, "author_flair_text": null, "treatment_tags":
        [], "visited": false, "removed_by": null, "mod_note": null, "distinguished":
        null, "subreddit_id": "t5_2vlaz", "author_is_blocked": false, "mod_reason_by":
        null, "num_reports": null, "removal_reason": null, "link_flair_background_color":
        "#0079d3", "id": "1b8dds5", "is_robot_indexable": true, "report_reasons":
        null, "author": "TrickyManagement6110", "discussion_type": null, "num_comments":
        0, "send_replies": true, "whitelist_status": "some_ads", "contest_mode": false,
        "mod_reports": [], "author_patreon_flair": false, "author_flair_text_color":
        null, "permalink": "/r/VeteransBenefits/comments/1b8dds5/yellow_and_blue_boxes_around_evidence_uploads/",
        "parent_whitelist_status": "some_ads", "stickied": false, "url": "https://i.redd.it/ttj5jcyxismc1.jpeg",
        "subreddit_subscribers": 123589, "created_utc": 1709764252.0, "num_crossposts":
        0, "media": null, "is_video": false}}, {"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "VeteransBenefits", "selftext": " A big shout out and thank
        you to the Roanoke, Virginia RO for calling today and letting me know they
        wouldn\u2019t be able to give me copies of my DBQs. This saved me from driving
        90ish minutes one way tomorrow for an in-person appointment. \n\nAlso a big
        thank you to the gentleman from the VA 1-800 number I spoke with this afternoon
        about my c[...]
- request:
    method: get
    uri: https://oauth.reddit.com/comments/1b8dcvd?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '589.0'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Reset:
      - '460'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"af[...]
- request:
    method: get
    uri: https://oauth.reddit.com/r/VeteransBenefits/new?after=1b8db4c&api_type=json&limit=3&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '588.0'
      X-Ratelimit-Used:
      - '12'
      X-Ratelimit-Reset:
      - '459'
    body:
      encoding: UTF-8
      string: '{"kin[...]
[...]
- request:
    method: get
    uri: https://oauth.reddit.com/r/VeteransBenefits/new?after=&api_type=json&limit=3&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '560.0'
      X-Ratelimit-Used:
      - '40'
      X-Ratelimit-Reset:
      - '422'
    body:
      encoding: UTF-8
      string: '{"kind": "Li[...]
- request:
    method: get
    uri: https://oauth.reddit.com/user/TrickyManagement6110/about?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '559.0'
      X-Ratelimit-Used:
      - '41'
      X-Ratelimit-Reset:
      - '422'
    body:
      encoding: UTF-8
      string: '{"kind": "t2", "da[...]
- request:
    method: get
    uri: https://oauth.reddit.com/user/TheresALonelyFeeling/about?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '558.0'
      X-Ratelimit-Used:
      - '42'
      X-Ratelimit-Reset:
      - '421'
    body:
      encoding: UTF-8
      string: '{"kind": "t2", "da[...]
[...]
- request:
    method: get
    uri: https://oauth.reddit.com/comments/1b8dcvd/_/ktogqnp?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '556.0'
      X-Ratelimit-Used:
      - '44'
      X-Ratelimit-Reset:
      - '419'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "d[...]
- request:
    method: get
    uri: https://oauth.reddit.com/user/JustWelmed1000/about?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '555.0'
      X-Ratelimit-Used:
      - '45'
      X-Ratelimit-Reset:
      - '418'
    body:
      encoding: UTF-8
      string: '{"kind": "t2", "data": {[...]
- request:
    method: get
    uri: https://oauth.reddit.com/user/r2d2punk/about?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '554.0'
      X-Ratelimit-Used:
      - '46'
      X-Ratelimit-Reset:
      - '417'
    body:
      encoding: UTF-8
      string: '{"kind": "t2", "data": {"is_em[...]
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=adhoc-bot&password=
    headers:
      Authorization:
      - Basic dzdfMExaUWM4N0NFM1VReVh0NXBRZzotZTFJMDN6YTVoeV9TTnU4RXg2elpEc1hHWC1ubmc=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token": "",
        "token_type": "bearer", "expires_in": 86400, "scope": "*"}'
  recorded_at: Fri, 24 May 2024 18:08:43 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/VeteransBenefits+Veterans/search?after=&api_type=json&limit=100&q=app&raw_json=1&restrict_sr=true&sort=new
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '10001.0'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '77'
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": null, "dist": 100, "facets":
        {}, "after": "t3_1cmplgu", "geo_filter": "", "children": [{"kind": "t3", "data":
        {"approved_at_utc": null, "subreddit": "Veterans", "selftext": "You ain''t
        doing jack shirt but scrolling Reddit right now anyway. Hop on over to your
        ride share app and put some money on it. Start a group chat to find a Designated
        Driver. Discuss transportation BEFORE you start slamming em'' back. DO NOT.
        UNDER ANY CIRCUMSTANCES. DRIVE AFTER YOU HAVE BEEN DRINKING. N[...]
